workflow.json
{
  "name": "AI Appointment Booking Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5b7ca7a4-1d6c-4489-a99d-28055cf4bee6",
      "name": "Webhook",
      "webhookId": "2158c19c-a3c9-4468-8c6e-47c27e148211"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "765cd9ab-742e-408a-a9fc-70f1bc3cde93",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "52cdfcd2-cc2a-40d1-a2fc-48a05c3edb03",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "614638a3-f00c-48bd-bfe3-d6ad35d8dc8d",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e90c5c6a-173e-4a0e-96a6-8bac00bc3156",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Extract appointment information from this message.\n\nMessage:\n{{$json.body.message}}\n\nReturn JSON format:\n\n{\n\"date\": \"\",\n\"time\": \"\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "a0d3eef5-7e5f-420e-95c9-68c534ebd233",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "vWJaKPqLF18WP6Lm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "varun181105@gmail.com",
          "mode": "list",
          "cachedResultName": "varun181105@gmail.com"
        },
        "additionalFields": {
          "description": "=Name: {{$json.body.name}}  Email: {{$json.body.email}}  Message: {{$json.body.message}}",
          "summary": "=Consultation with {{$json.body.name}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        768,
        0
      ],
      "id": "50afec49-83f0-4401-b306-8c19b19ff91c",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HwQBsjO5Har1R4WB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.email}}",
        "subject": "Appointment Confirmed",
        "message": "=Hi {{$json.body.name}},  Your appointment has been booked successfully.  We will meet soon.  Thank you.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "b680ec2b-347a-441a-86f1-f54b8981265f",
      "name": "Send a message",
      "webhookId": "532d5da8-061e-4a42-9158-51cd9f8e5c62",
      "credentials": {
        "gmailOAuth2": {
          "id": "IB8qWY71XLd63R4x",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "body": {
            "name": "Rahul",
            "email": "rahul@email.com",
            "message": "I want to book a consultation tomorrow at 4 PM"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "93c96151-2731-44fc-afb5-811c903999a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2e231abdfc8c931bed175e8411b1093f89c27cdba2edf7c4ae803a6c14fb74f"
  },
  "id": "d4gLp7FLhxdXxdAo",
  "tags": []
}